In [1]:
import pandas as pd
import datetime
import time
import requests
import numpy as np

In [7]:
cd = "005360"

list_df = []
for pg in range(40):
    refer_url = f"https://finance.naver.com/item/sise_time.naver?code={cd}&thistime=20220408161143&page={pg+1}"
    headers = {
        "referer" : refer_url,    
        "user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36" 
    }

    res = requests.get(url=refer_url, headers=headers)
    list_df.append(pd.read_html(res.text)[0].dropna())

df_base = pd.concat(list_df)
df_base

     체결시각     체결가   전일비      매도      매수       거래량      변동량
1   15:58  4895.0  95.0  4900.0  4895.0  527216.0    200.0
2   15:57  4895.0  95.0  4900.0  4895.0  527016.0    100.0
3   15:55  4895.0  95.0  4900.0  4895.0  526916.0    100.0
4   15:48  4895.0  95.0  4900.0  4895.0  526816.0      3.0
5   15:46  4895.0  95.0  4900.0  4895.0  526813.0      2.0
..    ...     ...   ...     ...     ...       ...      ...
2   09:01  5020.0  30.0  5020.0  5010.0   16579.0   2920.0
3   09:00  5020.0  30.0  5030.0  5020.0   13659.0  13659.0
1   09:02  5000.0  10.0  5000.0  4990.0   26538.0   9959.0
2   09:01  5020.0  30.0  5020.0  5010.0   16579.0   2920.0
3   09:00  5020.0  30.0  5030.0  5020.0   13659.0  13659.0

[386 rows x 7 columns]